/* Colors Used */

:root {
  --primary: #0c4a6e;
  --shade-1: #245c7d;

  --accent: #f59e0b;

  /* --bgc: #e0f2fe; */
  --bgc: #d8e0e6;

  --card-bg: #f0f9ff;

  --icon-clr: #e0f2fe;

  --light-text: #e7edf1;

  --dark-text: #020f16;
  --grey-text: #4e575c;
}
