@import url(Colors.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--light-text);
}

/* HELPERS */
.--light {
  stroke: var(--icon-clr);
  fill: var(--icon-clr);
}
.--dark {
  stroke: var(--dark-text);
}
.--top-header {
  height: 2rem !important;
}

.icon {
  height: 2.2rem;
  width: 2.2rem;
}

.icon--header {
  height: 4rem !important;
  width: 4rem !important;
}

.app-container {
  width: 1200px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;

  background-color: thistle;
}

.side-menu {
  width: 100%;
  padding: 2rem;
  background-color: var(--primary);
  color: var(--light-text);
  font-size: 1.8rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 8rem;
  align-content: start;
  justify-content: start;
}

.menu-header {
  justify-self: start;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.2rem;
  align-items: center;
}
.header-text {
  font-size: 2.36rem;
}
.menu-nav ul,
.menu-tools ul {
  justify-self: start;
  display: grid;
  list-style-type: none;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  row-gap: 2.8rem;
  justify-content: start;
}

.menu-link {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2.8rem;
  justify-content: start;
  align-items: center;
}

/* *********************** */
/* TOP HEADER */
/* *********************** */
.main-top-header {
  background-color: var(--card-bg);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: start;
  row-gap: 3rem;

  padding: 1.8rem 5.2rem 1.8rem 3rem;
  /* background-color: bisque; */
}

.search-box {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  column-gap: 1.2rem;
  align-items: center;
}

.search-box-input {
  outline: none;
  border: none;
  background-color: var(--bgc);
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.8rem;
}

.profile-image {
  border-radius: 50%;
  background-color: var(--accent);
}
.--small {
  height: 3.6rem;
}

.--large {
  height: 5.2rem;
}

.profile-corner {
  justify-self: end;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  column-gap: 1.8rem;
}

.profile-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.welcome {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1.4rem;
}

.welcome-message {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.6rem;
}

.greeting {
  font-size: 1.2rem;
  font-weight: 600;
}
.full-Id {
  font-size: 1.8rem;
  font-weight: 700;
}

.action-items {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
}

.btn {
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  outline: none;
  color: var(--light-text);

  padding: 0.8rem 1.6rem;
  border-radius: 16px;
  font-weight: 500;
}
