@import url(Colors.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--light-text);
}

/* HELPERS */
.--light {
  stroke: var(--icon-clr);
  fill: var(--icon-clr);
}
.--dark {
  stroke: var(--dark-text);
}
.--top-header {
  height: 2rem !important;
}

.--grey-text {
  color: var(--grey-text);
}

.drop-shadow {
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.icon {
  height: 2.2rem;
  width: 2.2rem;
  stroke-width: 0.01;
}

.icon--header {
  height: 4rem !important;
  width: 4rem !important;
}
.--card-icon {
  height: 1.8rem !important;
  width: 1.8rem !important;
}

.app-container {
  width: 1200px;
  display: grid;
  grid-template-columns: 0.8fr 3fr;

  background-color: var(--bgc);
}

.side-menu {
  width: 100%;
  background-color: var(--primary);
  color: var(--light-text);
  font-size: 1.8rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 8rem;
  align-content: start;
  justify-content: start;

  overflow: hidden;
}

.menu-header {
  justify-self: start;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.2rem;
  align-items: center;
  padding: 2rem;
}
.header-text {
  font-size: 2.36rem;
}
.menu-nav ul,
.menu-tools ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr;
  justify-content: start;
}

.menu-link {
  padding: 1.2rem 2.4rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  justify-content: start;
  align-items: center;

  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.menu-link:hover {
  background-color: var(--shade-1);
  box-shadow: 0 0 2px 0 var(--icon-clr) inset;
}

/* *********************** */
/* TOP HEADER */
/* *********************** */
.main-window {
  overflow: hidden;
}

.main-top-header {
  background-color: var(--card-bg);
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: start;
  row-gap: 3rem;

  padding: 1.8rem 5.2rem 1.8rem 3rem;
  /* background-color: bisque; */
}

.search-box {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  column-gap: 1.2rem;
  align-items: center;
}

.search-box-input {
  outline: none;
  border: none;
  background-color: var(--bgc);
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 9px;
  font-size: 1.8rem;
}

.profile-image {
  border-radius: 50%;
  background-color: var(--accent);
}
.--small {
  height: 3.6rem;
}

.--large {
  height: 5.2rem;
}

.profile-corner {
  justify-self: end;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  column-gap: 1.8rem;
}

.profile-name {
  font-size: 1.6rem;
  font-weight: 700;
}

.welcome {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1.4rem;
}

.welcome-message {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 0.6rem;
}

.greeting {
  font-size: 1.2rem;
  font-weight: 700;
}
.full-Id {
  font-size: 1.8rem;
  font-weight: 700;
}

.action-items {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
}

.btn {
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  outline: none;
  color: var(--light-text);

  padding: 0.8rem 1.6rem;
  border-radius: 16px;
  font-weight: 500;
}

/* *********************** */
/* MAIN PROJECT WINDOW */
/* *********************** */

.dashboard-items {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 3rem 2.6rem 3rem 1.8rem;
  column-gap: 3rem;
}

.dash-title {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  gap: 3rem 3rem;
}

.card {
  background-color: var(--card-bg);
  display: grid;
  grid-template-rows: repeat(3, auto);
  /* width: 30rem; */
  padding: 2rem;
  border-radius: 6px;
  border-left: 6px solid var(--accent);
}
.card-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.card-description {
  height: 8rem;
  font-size: 1.4rem;
}
.card-actions {
  margin-top: auto;
  justify-self: end;

  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 1.6rem;
}

/* ************************* */
/* RIGHT PANE */
/* ************************* */
.articles {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.article-list {
  list-style-type: none;
  background-color: var(--card-bg);
  padding: 2.2rem;
  border-radius: 6px;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.6rem;
}

.anc-title {
  color: var(--dark-text);
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.anc-desc {
  font-size: 1.2rem;
  /* display: inline-block; */
}
.anc-desc::after {
  content: "...";
}

.line-break li::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--bgc);
  display: block;
  margin-top: 1.6rem;
}
.line-break li:last-child::after {
  content: "";
  display: none;
}

/* TRENDING SECTION */
.trending-profile {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 1.2rem;
}

.trending-ID {
  color: var(--dark-text);
  font-weight: 700;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}
.trending-desc {
  font-weight: 500;
  font-size: 1.2rem;
}
